{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-5">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center mb-4">Passwort ändern</h3>
        <form method="POST" action="{{ url_for('change_password') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <div class="mb-3">
            <label for="current_password" class="form-label">Aktuelles Passwort</label>
            <input type="password" class="form-control" id="current_password" name="current_password" required>
          </div>
          <hr>
          <div class="mb-3">
            <label for="new_password" class="form-label">Neues Passwort</label>
            <input type="password" class="form-control" id="new_password" name="new_password" required>
          </div>
          <div class="mb-3">
            <label for="confirm_password" class="form-label">Neues Passwort bestätigen</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
          </div>
          <div class="d-grid mt-4">
            <button type="submit" class="btn btn-primary">Passwort speichern</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}