{% extends "base.html" %}

{% block title %}Impressum - Mannschaftskasse{% endblock %}

{% block content %}
<div class="container mt-4 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="mb-4">Impressum</h1>

            <h5>Angaben gemäß § 5 DDG</h5>
            <p>
                Bastian Berleb<br>
                Ludwig-Thoma-Straße 31<br>
                93087 Alteglofsheim
            </p>

            <h5>Kontakt</h5>
            <p>
                E-Mail: <a href="mailto:bastianberleb@gmail.com">bastianberleb@gmail.com</a>
            </p>

            <h5>Redaktionell verantwortlich (gem. § 18 Abs. 2 MStV)</h5>
            <p>
                Bastian Berleb<br>
                Ludwig-Thoma-Straße 31<br>
                93087 Alteglofsheim
            </p>
        </div>
    </div>
</div>
{% endblock %}
